$header-height-xxl: 58px;
$header-height-xl: 52px;
$header-height-lg: 50px;
$header-height-md: 44px;
$link-hover-transition: color 0.2s ease-in-out;
$size-selector-background-color: #f6f6f6;
$size-selector-actions-background-color: #fafafa;
