@use '@suits/ss-design-system/dist/ss-components/styles/sass/mixins/_breakpoints.scss' as bp;
@use '@susu/headless-commerce/styles/mixins.scss' as *;

.product-card {
  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-background);

    img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }

  &__body {
    @include bp.respond-from('md') {
      padding: 20px;
    }

    @include bp.respond-until('md') {
      padding: 15px;
    }
  }

  &__name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--color-primary);

    @include hover {
      color: var(--color-secondary-variation);
      transition: $link-hover-transition;
    }

    @include bp.respond-from('md') {
      margin-bottom: 6px;
    }

    @include bp.respond-until('md') {
      margin-bottom: 4px;
    }
  }

  &__material {
    color: var(--color-secondary);
  }

  &__price {
    margin-block-start: 5px;
  }
}

.product-card__badges {
  position: absolute;
  vertical-align: top;

  @include bp.respond-from('md') {
    width: calc(100% - 34px);
    top: 17px;
    left: 17px;
  }

  @include bp.respond-until('md') {
    width: calc(100% - 16px);
    top: 8px;
    left: 8px;
  }
}

.product-card__badges--customize {
  @include bp.respond-from('md') {
    padding: 7px;
  }

  @include bp.respond-until('md') {
    padding: 6px;
  }

  > img {
    vertical-align: top;
  }
}

.product-card__badges--lookbuilder {
  @include bp.respond-from('md') {
    padding: 5px;
  }

  @include bp.respond-until('md') {
    padding: 4px;
  }
}

.product-card__badge-wrap {
  position: relative;
  display: inline-block;
  background-color: rgba(#fff, 0.5);
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 4px;

  @include bp.respond-from('md') {
    width: 28px;
    height: 28px;
  }

  @include bp.respond-until('md') {
    width: 24px;
    height: 24px;
  }
}

.product-card__badge-label {
  font-weight: 300;
  float: right;
  color: var(--color-primary);
  border-radius: 4px;
  white-space: nowrap;
  background-color: rgba(#fff, 0.5);

  @include bp.respond-from('md') {
    position: absolute;
    right: -5px;
    padding: 7px 8px;
    font-size: 12px;
    line-height: 16px;
  }

  @include bp.respond-until('md') {
    font-size: 10px;
    line-height: 10px;
    padding: 5px 7px;
  }
}
