@use '@suits/ss-design-system/dist/ss-components/styles/sass/mixins/_breakpoints.scss' as bp;
@use '@susu/headless-commerce/styles/mixins.scss' as *;

.text-banner {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include bp.respond-until('md') {
    margin-bottom: 112px;
  }

  .text-banner__heading-wrapper {
    display: flex;

    &--extra-small {
      @include bp.respond-from('md') {
        margin-top: 100px;
        margin-bottom: 100px;
      }

      @include bp.respond-until('md') {
        margin-top: 70px;
        margin-bottom: 90px;
      }
    }

    &--small {
      @include bp.respond-from('lg') {
        margin-top: 80px;
        margin-bottom: 120px;
      }

      @include bp.respond-between('md', 'lg') {
        margin-top: 120px;
        margin-bottom: 65px;
      }

      @include bp.respond-until('md') {
        margin-top: 40px;
        margin-bottom: 64px;
      }
    }

    &--medium {
      @include bp.respond-from('lg') {
        margin-top: 100px;
        margin-bottom: 50px;
      }

      @include bp.respond-between('md', 'lg') {
        margin-top: 163px;
        margin-bottom: 80px;
      }

      @include bp.respond-until('md') {
        margin-top: 60px;
        margin-bottom: 112px;
      }
    }

    &--medium-small {
      @include bp.respond-from('lg') {
        margin-top: 140px;
        margin-bottom: 0;
      }

      @include bp.respond-between('md', 'lg') {
        margin-top: 120px;
        margin-bottom: 65px;
      }

      @include bp.respond-until('md') {
        margin-top: 85px;
        margin-bottom: 60px;
      }
    }

    &--extra-large {
      @include bp.respond-from('lg') {
        margin-top: 120px;
        margin-bottom: 140px;
      }

      @include bp.respond-between('md', 'lg') {
        margin-top: 100px;
        margin-bottom: 130px;
      }

      @include bp.respond-until('md') {
        margin-top: 80px;
        margin-bottom: 16px;
      }
    }
  }

  &__heading {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include bp.respond-from('lg') {
      max-width: var(--max-width-desktop);
    }

    @include bp.respond-between('md', 'lg') {
      max-width: var(--max-width-tablet);
    }

    @include bp.respond-until('md') {
      max-width: var(--max-width-mobile);
    }
  }

  &__title {
    @include bp.respond-from('lg') {
      margin-bottom: 10px;
    }

    @include bp.respond-between('md', 'lg') {
      margin-bottom: 15px;
    }

    @include bp.respond-until('md') {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    color: var(--color-primary);

    @include bp.respond-from('lg') {
      margin-bottom: 33px;
    }

    @include bp.respond-between('md', 'lg') {
      margin-bottom: 28px;
    }

    @include bp.respond-until('md') {
      margin-bottom: 30px;
    }
  }

  &__image-wrapper {
    display: block;

    @include bp.respond-from('md') {
      margin-bottom: 0;
    }

    @include bp.respond-until('md') {
      margin-bottom: 60px;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
}
