@use '@suits/ss-design-system/dist/ss-components/styles/sass/mixins/_breakpoints.scss' as bp;
@use '@susu/headless-commerce/styles/variables.scss' as *;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: transform 0.3s cubic-bezier(0.49, 0.03, 0.13, 0.99);
  width: 100%;
  z-index: 10;

  &::before {
    content: '';
    display: block;
    background-color: var(--color-surface);
    inset: 0;
    position: absolute;
    transition: background-color 0.3s cubic-bezier(0.49, 0.03, 0.13, 0.99);
    z-index: -2;
  }

  @include bp.respond-from('xxl') {
    height: $header-height-xxl;
  }

  @include bp.respond-from('xl') {
    padding-inline: var(--spacing-02);
  }

  @include bp.respond-between('xl', 'xxl') {
    height: $header-height-xl;
  }

  @include bp.respond-between('lg', 'xl') {
    height: $header-height-lg;
  }

  @include bp.respond-from('lg') {
    padding: 0 15px;
  }

  @include bp.respond-until('lg') {
    height: $header-height-md;
    padding: 0 11px;
  }

  &-icon {
    display: block;
    height: 1em;
  }

  &__transparent::before {
    background-color: transparent;
  }

  &__color {
    &-light {
      color: var(--color-surface);
    }

    &-dark {
      color: var(--color-primary);
    }
  }

  &__hidden {
    transform: translateY(-120%);
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include bp.respond-from('xxl') {
      width: 151px;
    }

    @include bp.respond-between('xl', 'xxl') {
      width: 132px;
    }

    @include bp.respond-between('lg', 'xl') {
      width: 122px;
    }

    @include bp.respond-between('md', 'lg') {
      width: 114px;
    }

    @include bp.respond-until('md') {
      width: 110px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: block;
    padding: 5px;
    appearance: auto;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: 0;
    transition: color 0.2s ease-in-out;

    &::after,
    span::after {
      .header__color-light & {
        background-color: var(--color-surface);
        border-color: var(--color-primary);
        color: var(--color-primary);
      }

      .header__color-dark & {
        background-color: var(--color-primary);
        border-color: var(--color-surface);
        color: var(--color-surface);
      }

      .header__transparent & {
        border-color: transparent;
      }
    }

    @include bp.respond-from('xl') {
      font-size: 24px;
    }

    @include bp.respond-between('lg', 'xl') {
      font-size: 22px;
    }

    @include bp.respond-until('lg') {
      font-size: 20px;
    }

    &:hover {
      color: var(--color-secondary-variation);
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    &__wishlist {
      position: relative;
    }

    &__wishlist::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 6px;
      width: 7px;
      height: 7px;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
    }

    &__bag {
      position: relative;
    }

    &__bag > span[data-count]::after {
      content: attr(data-count);
      position: absolute;
      top: 2px;
      font-size: 10px;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      line-height: 14px;
      text-align: center;
      min-width: 14px;
      height: 14px;
      font-weight: 400;

      @include bp.respond-from('xl') {
        left: 20px;
      }

      @include bp.respond-between('lg', 'xl') {
        left: 18px;
      }

      @include bp.respond-until('lg') {
        left: 16px;
      }
    }
  }
}
