@use '@suits/ss-design-system/dist/ss-components/styles/sass/mixins/_breakpoints.scss' as bp;

.preview {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &-wrapper {
    height: 100%;
    position: relative;
    width: 100%;

    &-scale,
    &-position {
      transition-duration: 300ms;
      transition-property: transform;
    }

    &-position {
      height: 100%;
      width: 100%;
      transform: translateX(var(--image-focus-x)) translateY(var(--image-focus-y));
    }

    &-scale {
      inset: 0;
      position: absolute;
      transform: scale(var(--image-scale));
    }
  }

  img {
    will-change: contents;
  }

  &-type {
    &-static {
      picture,
      img {
        width: 100%;
        height: 100%;
      }

      img {
        object-fit: cover;
      }
    }

    &-layered {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.preview-wrapper--custom-transition {
  img {
    object-fit: cover;
  }
}
