@use '@suits/ss-design-system/dist/ss-components/styles/sass/mixins/_breakpoints.scss' as bp;
@use '@susu/headless-commerce/styles/variables.scss' as *;

.content-hero {
  position: relative;
  height: 100vh;

  @include bp.respond-from('xxl') {
    margin-top: $header-height-xxl;
  }

  @include bp.respond-between('xl', 'xxl') {
    margin-top: $header-height-xl;
  }

  @include bp.respond-between('lg', 'xl') {
    margin-top: $header-height-lg;
  }

  @include bp.respond-until('lg') {
    margin-top: $header-height-md;
  }

  &__title {
    @include bp.respond-from('md') {
      margin-bottom: 12px;
    }

    @include bp.respond-between('md', 'lg') {
      margin-bottom: 14px;
    }

    @include bp.respond-until('md') {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-size: 20px;

    @include bp.respond-between('md', 'lg') {
      padding-top: 14px;
    }

    @include bp.respond-until('md') {
      padding-top: 14px;
    }
  }

  &__text {
    position: absolute;
    z-index: 2;

    &--color {
      &-dark {
        color: var(--color-primary);
      }

      &-light {
        color: var(--color-surface);
      }
    }

    &--desktop {
      @include bp.respond-from('xl') {
        &-hidden {
          display: none;
        }

        &-center-left {
          top: 50%;
          left: 120px;
          transform: translateY(-50%);
          text-align: left;
        }

        &-bottom-left {
          bottom: 80px;
          left: 120px;
          text-align: left;
        }

        &-top-center {
          top: 80px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }

        &-center-center {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        &-bottom-center {
          bottom: 80px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }

        &-top-right {
          top: 80px;
          right: 80px;
          text-align: right;
        }

        &-center-right {
          top: 50%;
          right: 80px;
          text-align: right;
          transform: translateY(-50%);
        }

        &-bottom-right {
          bottom: 80px;
          right: 80px;
          text-align: right;
        }
      }
    }

    &--tablet {
      @include bp.respond-between('md', 'xl') {
        &-hidden {
          display: none;
        }

        &-top-left {
          top: 100px;
          left: 100px;
          text-align: left;
        }

        &-center-left {
          top: 50%;
          left: 100px;
          transform: translateY(-50%);
          text-align: left;
        }

        &-bottom-left {
          bottom: 100px;
          left: 100px;
          text-align: left;
        }

        &-top-center {
          top: 100px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }

        &-center-center {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        &-bottom-center {
          bottom: 100px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }

        &-top-right {
          top: 100px;
          right: 100px;
          text-align: right;
        }

        &-center-right {
          top: 50%;
          right: 100px;
          text-align: right;
          transform: translateY(-50%);
        }

        &-bottom-right {
          bottom: 100px;
          right: 100px;
          text-align: right;
        }
      }
    }

    &--mobile {
      @include bp.respond-until('md') {
        &-hidden {
          display: none;
        }

        &-top-left {
          top: 94px;
          left: 94px;
          text-align: left;
        }

        &-center-left {
          top: 50%;
          left: 94px;
          transform: translateY(-50%);
          text-align: left;
        }

        &-bottom-left {
          bottom: 94px;
          left: 94px;
          text-align: left;
        }

        &-top-center {
          top: 40px;
          left: 50%;
          width: 100%;
          max-width: 280px;
          text-align: center;
          transform: translateX(-50%);
        }

        &-center-center {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        &-bottom-center {
          bottom: 94px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }

        &-top-right {
          top: 94px;
          right: 94px;
          text-align: right;
        }

        &-center-right {
          top: 50%;
          right: 94px;
          text-align: right;
          transform: translateY(-50%);
        }

        &-bottom-right {
          bottom: 94px;
          right: 94px;
          text-align: right;
        }
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Wrapper class for changing mobile height.
.content-hero--mobile-height-set-no {
  @include bp.respond-until('lg') {
    &.content-hero {
      height: unset;
    }

    img {
      position: relative;
    }

    picture {
      position: relative;
    }
  }
}
