@use '@suits/ss-design-system/dist/ss-components/styles/sass/mixins/_breakpoints.scss' as bp;
@use '@susu/headless-commerce/styles/mixins.scss' as *;

.section-title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;

  @include bp.respond-from('xl') {
    padding: 0 80px 24px;
  }

  @include bp.respond-between('sm', 'xl') {
    padding: 0 20px 24px;
  }

  @include bp.respond-until('sm') {
    padding: 0 16px 24px;
  }
}

.section-title__link {
  @include hover {
    color: var(--color-secondary-variation);
    transition: $link-hover-transition;
  }
}
